:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --footer-bcg-color: #2f303a;
  --section-color: #f5f4fa;
  --icon-color: rgba(175, 177, 184, 1);
}

body {
  position: relative;

  padding-top: 80px;

  background-color: var(--primary-white-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/* Утилиты */

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Логотип */

.logo {
  color: #000000;

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo:hover,
.logo:focus {
  color: var(--accent-color);
}

span {
  color: var(--accent-color);
}

/* Навигация */

.page-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;

  border: 1px;

  background-color: var(--primary-white-color);
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}

.info-nav {
  display: flex;
  align-items: center;
}

.icon-mailto {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.icon-tel {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  text-decoration: none;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  position: relative;
  color: var(--accent-color);
}

.link.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;

  background-color: var(--accent-color);
  border-radius: 2px;
}

.auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-nav .item:not(:last-child) {
  margin-right: 50px;
}

.auth-nav .link-auth {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}

/* Герой */

.hero {
  height: 600px;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 200px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 40%),
      rgba(47, 48, 58, 40%)
    ),
    url('../images/img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #c4c4c4;
  text-align: center;
}

.hero-title {
  width: 696px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;

  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-transform: uppercase;
  letter-spacing: 0.06em;
}

.button {
  display: inline-block;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  padding: 6px 22px;
  outline: none;

  color: var(--title-text-color);
  background-color: var(--section-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button.primary {
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 32px;

  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-decoration: none;
  letter-spacing: 0.06em;
}

/* Преимущества*/

.advantage {
  display: flex;
  flex-wrap: wrap;
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantage-box {
  display: flex;
}

.advantage-element {
  width: calc((100%-90px) / 4);
  margin-right: 30px;
}

.advantage-element:nth-child(4n) {
  margin-right: 0;
}

.icon-element {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: var(--section-color);
}

.advantage-title {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
}

.content {
  margin-top: 0;
  margin-bottom: 0;
}

/* Чем мы занимаемся */

.section-container {
  margin-bottom: 0;
  padding-bottom: 94px;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
}

.section-title,
.team-title,
.clients-title {
  color: var(--title-text-color);

  font-weight: 700px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.section-box {
  display: flex;
  flex-wrap: wrap;
}

.section-element {
  position: relative;
  width: 370px;
  margin-right: 30px;
}

.section-element:nth-child(3n) {
  margin-right: 0;
}

.section-element > .text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  margin: 0;
  padding-top: 27px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
  text-align: center;

  background-color: rgba(47, 48, 58, 0.8);
  color: var(--primary-white-color);
}

/* Команда */

.section-team {
  background-color: var(--section-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-title {
  margin-top: 0;
  margin-bottom: 50px;
}

.team-block {
  display: flex;
}

.team-element {
  width: calc((100%-90px) / 4);
  margin-right: 30px;

  background: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-element:nth-child(4n) {
  margin-right: 0;
}

.person-title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);

  font-weight: 500;
}

.profession {
  margin-top: 0;
  margin-bottom: 16px;
}

.person-title,
.profession {
  font-size: 16px;
  line-height: 1.17;
}

.picture {
  margin-bottom: 30px;
}

.team-content {
  text-align: center;
}

.networks {
  display: flex;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 30px;
}

.link-team {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50% 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-team:not(:last-child) {
  margin-right: 10px;
}

.link-team:hover,
.link-team:focus {
  background-color: var(--accent-color);
}
.link-team .icon-network {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-team:hover .icon-network,
.link-team:focus .icon-network {
  fill: var(--primary-white-color);
}

.icon-network {
  fill: var(--icon-color);
  width: 20px;
  height: 20px;
}

/* Постоянные клиенты */

.customers {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-title {
  margin-top: 0;
  margin-bottom: 50px;
}

.list-clients {
  display: flex;
  flex-wrap: wrap;
}

.client {
  padding-right: 0;
  margin-right: 30px;
}

.client:last-child {
  margin-right: 0;
}

.link-client {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0;
  width: 170px;
  height: 90px;
  border: 1px solid;
  border-radius: 4px;
  border-color: var(--icon-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-client:hover,
.link-client:focus {
  border-color: var(--accent-color);
}
.link-client .icon-logo {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-client:hover .icon-logo,
.link-client:focus .icon-logo {
  fill: var(--accent-color);
}

.icon-logo {
  fill: var(--icon-color);
}

/* Портфолио */

.portfolio-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter-list {
  display: flex;
  margin-bottom: 34px;
  justify-content: center;
}

.filter:not(:last-child) {
  margin-right: 8px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-element {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-element:nth-child(3n) {
  margin-right: 0;
}

.portfolio-element:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-element a {
  display: block;
  text-decoration: none;
}

.link-portfolio {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-portfolio:hover,
.link-portfolio:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.overlay {
  position: relative;
  overflow: hidden;
}

.overlay .text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--accent-color);
  opacity: 0;
}

.link-portfolio:focus .overlay .text-overlay {
  transform: translateY(0);
  opacity: 1;
}

.text-overlay p {
  font-size: 18px;
  line-height: 1.56;
  margin-top: 0;
  margin-bottom: 0;
  padding: 63px 24px;
  color: var(--primary-white-color);
}

.portfolio-content {
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-color: #eeeeee;
}

.work-title {
  margin-top: 0;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--primary-text-color);

  font-size: 16px;
  line-height: 1.88;
}

/* Футер */

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--footer-bcg-color);
  color: var(--primary-white-color);
}

.footer-container {
  display: flex;
}

address {
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
}

.logo-footer {
  display: block;
  margin-bottom: 20px;

  color: var(--primary-white-color);

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  text-decoration: none;
}

.address {
  display: flex;
  flex-direction: column;
  margin-right: 70px;
}

.address p {
  margin-top: 0;
  margin-bottom: 8px;
}

.link-footer {
  display: block;
  margin-bottom: 8px;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-footer:last-child {
  margin-bottom: 0;
}

.link-footer:hover,
.link-footer:focus {
  color: var(--accent-color);
}

.join {
  display: flex;
  flex-direction: column;
  padding-top: 12px;
  margin-right: 93px;
}

.footer-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
  align-items: baseline;
}

.icon-footer {
  display: flex;
}

.footer-network {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50% 50%;
  background-color: rgb(255, 255, 255, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-network:not(:last-child) {
  margin-right: 10px;
}

.footer-network:hover,
.footer-network:focus {
  background-color: var(--accent-color);
}

.icon-network-footer {
  width: 20px;
  height: 20px;
  fill: var(--primary-white-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-network-footer:hover,
.icon-network-footer:focus {
  fill: var(--primary-white-color);
}

/*Подпишитесь на рассылку*/

.form {
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
}
.form p {
  margin-top: 0;
  margin-bottom: 20px;
  padding-top: 12px;
}

.button-send {
  display: inline-flex;
  align-items: center;

  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 28px 10px 29px;

  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-decoration: none;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.form-field input {
  width: 358px;
  margin: 0;
  padding: 15px 16px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-right: 12px;
  color: var(--primary-text-color);

  background-color: var(--footer-bcg-color);
}

.icon-send {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: var(--primary-white-color);
}

/*Модальное окно*/

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  background-color: var(--primary-white-color);
}

.close {
  display: inline-flex;
  align-items: center;

  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;

  background-color: var(--primary-white-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close:focus svg,
.close:hover svg {
  fill: var(--accent-color);
}

.form-modal {
  width: 528px;
  padding: 40px;
}
.form-title {
  margin-top: 0;
  margin-bottom: 12px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
}

.form-label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.modal-label {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.modal-label.form-comment {
  margin-bottom: 20px;
}

.comment {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 16px 12px;
}

textarea::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

textarea:-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal-input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.modal-input:focus + .input-icon {
  fill: var(--accent-color);
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  width: 18px;
  height: 18px;
}

textarea {
  resize: none;
}

.modal-button {
  display: inline-flex;
  align-items: center;
  margin: 30px 124px 0px 124px;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 55px 10px 56px;

  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-decoration: none;
  letter-spacing: 0.06em;
  cursor: pointer;
}
.check {
  display: inline-flex;
  align-items: center;
  padding-left: 12px;
}

.check-inbox {
  /*-webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;*/
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.check-box {
  display: inline-block;
  width: 16px;
  height: 15px;
  padding-left: 12px;
  margin-right: 8.38px;
  border: 1px solid var(--title-text-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.check-text {
  color: var(--primary-text-color);
}
.form-link {
  color: var(--accent-color);
}
.check-inbox:checked + .check-box {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url('../images/icon\ check.svg');
  background-size: contain;
  background-origin: border-box;
}
